# Practical session 1 - Some Python basics

Course: [SDIA-Python](https://github.com/guilgautier/sdia-python)

Dates: 09/21/2021-09/22/2021

Instructor: [Guillaume Gautier](https://guilgautier.github.io/)

Students (pair):
- [Student 1]([link](https://github.com/username1))
- [Student 2]([link](https://github.com/username2))

In [1]:
%load_ext autoreload
%autoreload 2

# dès que je change un fichier dans le projet, les changements sont reflétés ici sur VS Code.

## Documentation

To display the documentation associated to a Python function in your notebook (launched in VSCode), you can either
- run `?functionname` or `help(my_adder)`
- place your mouse pointer on the function name
- write the name of the function and start opening the brackets

## Zen of Python

In [ ]:
import this

## Reserved keywords

In [ ]:
import keyword
print(keyword.kwlist)

## Arithmetic

Compute 4 raised to the power 8

In [1]:
4 ** 8

65536

Compute the quotient and the remainder of the euclidean division of 17 by 3.

In [56]:
# pour trouver le reste de la division euclidienne
a = 17 % 3

# Permet d'avoir le diviseur entier
b = 17 // 3

a, b

(2, 5)

Create two integer variables `a, b` of your choice and swap their content.

In [2]:
a, b = 4, 5
a, b = b, a
a, b

(5, 4)

Modify `a` inplace, so that the new value of `a` is twice its previous value.

In [5]:
a = 5
a += 2
a

7

Define a complex number `z` and print it as

`real=real-part, imag=imaginary-part`

In [5]:
z = 1 + 5.6j
print(f"real={z.real}", f"imaginary={z.imag}")

real=1.0 imaginary=5.6

## Strings

Propose two ways to define an empty string

In [6]:
# pour définir une string 

b=str()
a=""

print(a, b)

Define a string made of the 26 letters of the alphabet (lower case), then
- What is the 12th letter of the alphabet
- What are the 10 last letters of the alphabet
- What are the 5th to the 10th letters of the alphabet
- Create a new string where the 26 letters are converted to upper case.

In [19]:
# Afficher l'alphabet
from string import ascii_lowercase
ascii_lowercase


# pour accéder à la douzième lettre de l'alphabet, bien penser que l'indice commence à 0

ascii_lowercase[12-1]

'l'

In [12]:
# Les 10 dernières lettres de l'alphabet

ascii_lowercase[-10:]

'qrstuvwxyz'

In [13]:
# de la 5ème à la 10ème lettre de l'alphabet

ascii_lowercase[5-1:10-1]

'efghi'

In [20]:
# Convertir les strings en upper case

a= ascii_lowercase.upper()
print(a)

ABCDEFGHIJKLMNOPQRSTUVWXYZ

## Lists

Propose two ways to define an empty list.

In [9]:
a=list()
b=[]
print(a,b)

[] []

Create the list of consecutive integers from 5 to 11.

In [11]:

x=list(range(5, 11+1))
print(x)

[5, 6, 7, 8, 9, 10, 11]

Add `100` to this list.

In [12]:
x.append(100)
x

[5, 6, 7, 8, 9, 10, 11, 100]

Given the following list, 
Change the `"sdia"` to its reverse (`"aids"`).

In [15]:
x = [10, [3, 4], [5, [100, 200, ["sdia"]], 23, 11], 1, 7]

# pour afficher le terme "Sdia"
x[2][1][2][0]

'sdia'

Given the following list, 

  1. extract the first two items
  2. extract the last two items
  3. find the index of the first occurence of `9`
  4. extract the items located at odd indices
  5. create a new list which corresponds to the reversed version of the originial list
  6. create a new list where each item of the original list is raised to the power 3

In [25]:
x = [3, 7, 5, 3, 8, 6, 8, 8, 0, 7, 3, 9, 3, 4, 2, 7, 0, 9, 5, 0, 0, 9, 0, 9, 3, 1, 4, 0, 5, 5, 5, 8, 9, 9, 5, 5, 4, 9, 5, 6, 2, 8, 5, 2, 4, 9, 2, 2, 3, 1]

# extraire les deux premiers termes
x[:2]

[3, 7]

In [27]:
# extraire les deux derniers termes de la liste x

x[-2:]

[3, 1]

In [21]:
# récupérer la première occurence de 9
x.index(9)

11

In [22]:
# récupérer les indices impaires

x[1::2]

[7, 3, 6, 8, 7, 9, 4, 7, 9, 0, 9, 9, 1, 0, 5, 8, 9, 5, 9, 6, 8, 2, 9, 2, 1]

In [29]:
# Créer une nouvelle liste qui est l'inverse la liste x, on crée un indexe qui est la longueur de la liste x, et on décrémente tant que x est supérieur ou égal à 0 avec une boucle while. 

z = []
index = len(x)-1
while index >= 0: 
    z.append(x[index])
    index = index - 1
print(z)

[1, 3, 2, 2, 9, 4, 2, 5, 8, 2, 6, 5, 9, 4, 5, 5, 9, 9, 8, 5, 5, 5, 0, 4, 1, 3, 9, 0, 9, 0, 0, 5, 9, 0, 7, 2, 4, 3, 9, 3, 7, 0, 8, 8, 6, 8, 3, 5, 7, 3]

In [25]:
# Créer une nouvelle liste avec les valeurs de la liste x à la puissance 3

y = []
for value in x:
        y.append(value**3)
y

[27,
 343,
 125,
 27,
 512,
 216,
 512,
 512,
 0,
 343,
 27,
 729,
 27,
 64,
 8,
 343,
 0,
 729,
 125,
 0,
 0,
 729,
 0,
 729,
 27,
 1,
 64,
 0,
 125,
 125,
 125,
 512,
 729,
 729,
 125,
 125,
 64,
 729,
 125,
 216,
 8,
 512,
 125,
 8,
 64,
 729,
 8,
 8,
 27,
 1]

In [26]:
# Pour avoir les puissances de 3, méthode très concise

[value **3 for value in x]

[27,
 343,
 125,
 27,
 512,
 216,
 512,
 512,
 0,
 343,
 27,
 729,
 27,
 64,
 8,
 343,
 0,
 729,
 125,
 0,
 0,
 729,
 0,
 729,
 27,
 1,
 64,
 0,
 125,
 125,
 125,
 512,
 729,
 729,
 125,
 125,
 64,
 729,
 125,
 216,
 8,
 512,
 125,
 8,
 64,
 729,
 8,
 8,
 27,
 1]

## Tuples


Propose two ways to define an empty tuple.

In [17]:
a=tuple()
print(a)

()

In [27]:
# Les tuples on ne peut pas directement les modifier mais on peut modifier ce qu'il y a dedans

x= [[1, 2, 3], 4]

x[0][1]= x[0][1] ** 5
x

# ici tuples non modifiables mais les items à l'intérieur le sont.

[[1, 32, 3], 4]

Given the following tuple
- try to replace the second item (`4`) to `8`.
- modify the list so that the second element of the first item is raised to the power 5

In [35]:
x = ([1, 2, 3], 4)

l = list(x)
l[1] = 8

x = tuple(l)
print(x)

([1, 2, 3], 8)

x = ([1, 2, 3], 4)

What is the main difference between a list and a tuple?

## Sets

Create an empty set

In [43]:
set()

# type pour connaître le type 
type(set())

set

In [42]:
# la commande permet d'avoir des informations sur les set

?set

Init signature: set(self, /, *args, **kwargs)
Docstring:
set() -> new empty set object
set(iterable) -> new set object

Build an unordered collection of unique elements.
Type:           type
Subclasses:

Compute the intersection between $A = \{1, 2, 3\}$ and $B = \{2, 4, 5, 6\}$.

In [18]:
A = {1, 2, 3}
B = {2, 4, 5, 6}
print(A, B)

z = set.intersection(A, B)
print(z)

{1, 2, 3} {2, 4, 5, 6}
{2}

From the following set
- add the numbers 4, 5, 6
- remove the numbers 1, 2, 3
- check if the resulting set is contained in `{1, 2, 4, 5, 6, 10}`

In [22]:
x = {0, 1, 2, 3, 6, 7, 8, 9, 10}

y = {4, 5, 6}
x.update(y)

print(x)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [50]:
for item in (4, 5, 6):
    x.add(item)
x

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [23]:
#enlever un élément du set
x.remove(1)

x

{0, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [24]:
#vérifier si le set précédent est contenu dans le set ci-dessous.
x.issubset({1, 2, 4, 5, 6, 10})

False

## Dictionnaries

Propose two ways to define an empty dictionary

In [55]:
# dictionnaire peut se voir sous l'aspect mapping

#{"key1": value1, "key2" : value2}


dict()
{}

{}

In [57]:
d = {}
keys = ("a", "b", "c", "d")
values = (1, 3, 5, 7)

for k, v in zip(keys, values):
    d[k] = v
d

{'a': 1, 'b': 3, 'c': 5, 'd': 7}

Propose at least 3 ways to define a dictionary with 
- keys `("a", "b", "c", "d")`
- values `(1, 3, 5 , 7)`

In [58]:
dict(zip(keys, values))

# une dernière façon de créer un dictionnaire peut être de seulement utiliser les accolades {} et d'écrire le dictionnaire à l'intérieur.

{'a': 1, 'b': 3, 'c': 5, 'd': 7}

Given the following dictionary, use indexing to get to the word `"sdia"`

In [59]:
d = {
    "outer": [
        1,
        2,
        3,
        {"inner": ["this", "is", "inception", {"inner_inner": [1, 2, 3, "sdia"]}]},
    ]
}

In [61]:
d["outer"][3]["inner"][3]["inner_inner"][3]

'sdia'

From the following dictionary,
- Create the list of keys
- Create the list of values
- Check if the key `"abc"` is present, if not, return `123`.
- Merge the initial dictionary with `{"e": -1, 4: True}`

In [30]:
d1 = dict(zip([(0, 1), "e", 1, None], ["abc", 4, None, 1 + 2j]))

a=list(d1.keys())
b=list(d1.values())

print(a,b)

[(0, 1), 'e', 1, None] ['abc', 4, None, (1+2j)]

In [31]:
"abc" in d1

False

In [ ]:
# on crée d2 le dictionnaire que l'on veut merge, on fait ensuite d1.update(d2)

d2 = {}

## Conditions

Propose two ways to construct the list of odd values ranging from 0 to 30

In [34]:
l = []
for i in range(0,15):
    l.append(2*i+1)
print(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

From the following list, create another list which contains
- `"fiz"` if the item is a multiple of 5,
- `"buz"` if the item is a multiple of 7,
- `"fizbuz"` if the item is a both a multiple of 5 and 7,
- the index of the item otherwise.

In [3]:
x = [2, 1, 3, 31, 35, 20, 70, 132, 144, 49]

In [4]:

l = len(x)
for k in range (0,l):
    if x[k] % 5 == 0:
        x[k] = "fiz"
    elif x[k] % 7 == 0:
        x[k] = "buz"
    elif x[k] % 5 == 0 and x[k]%7==0:
        x[k]="fizbuz"
    else:
        x[k] = k
print(x)

[0, 1, 2, 3, 'fiz', 'fiz', 'fiz', 7, 8, 'buz']

Given a string variable `course`, construct a `if/elif/else` statement that prints:
- `"That is very useful!"` if `course` is `"maths"` (any kind of capitalization)
- `"That is very useful!"` if `course` is `"python"` (any kind of capitalization)
- `"How nice!"` if `course` is `"meditation"` (any kind of capitalization)
- `"You're not at Hogwarts"` if `course` is `"magic"` (any kind of capitalization)
- otherwise `"What is this COURSE?"` if `course` is anything else.

In [7]:
def f(course):
    if course == "maths" or course == "python":
        return("That is very useful")
    elif course == "meditation":
        return("How nice!")
    elif course == "magic":
        return("You're not ...")
    else: 
        return("What is this course?")

f("maths")

'That is very useful'

Given the following variables, create and print the string

``quantity`` ``fruit``(s) cost(s) $``price``

such that
- there is an `"s"` at `"cost"` when there is more only one fruit,
- there is an `"s"` at `"fruit"` when there is more that one fruit,
- the price is displayed as ...,xxx,xxx.yy where yy corresponds rounded cents value

In [ ]:
quantity = 1
fruit = "avocado"
price = 1.8912392e4

## Functions

- Create your function in `src/lab1/functions.py` files
- Import them using `from lab1.functions import MYFUNCTION`

In [9]:
# pour importer un projet ou un package il doit être installé. 
# il faut créer un env, installer les packages et faire en sorte qu'il soit accessible en mode éditable. 
# dans setup.sfg on définie notre système, nos packages etc...
# pip install . il va chercher les packages à installer. 

from lab1.functions import benco2000
benco2000


# quand on édite un fichier par exemple en créant une variable, penser à enregistrer pour pouvoir ensuite l'utiliser

'benco2000'

Define the function `is_unique(x)` which takes a list of integers `x` as input and returns `True` if the there is no duplicate items otherwise return `False`.

In [8]:
from lab1.functions import is_unique

Define a function `triangle_shape(height)`, that returns 
- `""` if `height=0`, 
- otherwise it returns a string that forms a triangle with height prescribed by `height`.

**Examples**

height=1
```
x
```

height=2
```
 x 
xxx
```

height=3
```
  x  
 xxx 
xxxxx
```

height=4
```
   x   
  xxx  
 xxxxx 
xxxxxxx
```

height=5
```
    x    
   xxx   
  xxxxx  
 xxxxxxx 
xxxxxxxxx
```

height=6
```
     x     
    xxx    
   xxxxx   
  xxxxxxx  
 xxxxxxxxx 
xxxxxxxxxxx
```

In [1]:
from lab1.functions import triangle_shape
triangle_shape(5)

     x
    xxx
   xxxxx
  xxxxxxx
 xxxxxxxxx